body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px 0 60px 0;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:active,
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/* button-xs
---------------------------- */
.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}

.btn-modal {
    margin: 10px 0px 10px 20px;
}

/* image
---------------------------- */

.flag {
    height: 24px;
    width: 40px;
}

.bigger-on-hover {
    transition: all 0.3s ease;
}

.bigger-on-hover:hover {
    transform: scale(1.5);
}

.darkToggle {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.85rem;
}

.text-white {
    color: white;
}

.card-dark {
    background-color: #212529;
    color: white;
    height: 100%;
    width: 100%;
}


.competitions-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    justify-content: left;
}


.dark-mode {
    color: white;
    background-color: #212529;
}

.nav-items-dark {
    color: white;
}


.pagination>li>a {
    background-color: white;
    color: #5A4181;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination>.active>a:hover {
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}



/* Card Animated */

.cardAnimated>img {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardAnimated {
    top: 0px;
    left: 0px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.cardAnimated:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}



/* Card Details */
.cardDetails {
    border: none;
    box-shadow: none;
}

.bodyDetails {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.infos>div {
    padding: 5px;
}

/* Autocomplete */
.ui-autocomplete {
    z-index: 9999;
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

/* style the suggestion list items */
.ui-autocomplete>li {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.ui-autocomplete>li.ui-state-focus {
    background-color: #eee;
}


#filterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filterForm label {
    font-size: 18px;
    margin-bottom: 5px;
}


#filterForm input[type="submit"] {
    width: 80px;
    height: 30px;
    font-size: 18px;
    background-color: #4caf50;
    /* Green background */
    color: white;
    /* White text */
    border: none;
    /* Remove border */
    border-radius: 4px;
    /* Round corners */
    cursor: pointer;
    /* Add cursor on hover */
}

#filterForm input[type="submit"]:hover {
    background-color: #45a049;
    /* Darker green background on hover */
}

.cardA {
    top: 0px;
    left: 0px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    margin: 10px;

}

.cardA:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

